@keyframes enter-login {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.login-page{
    background-color: #0B0F0C;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .register{
        background: var(--White-color, #EAF2EC);
        max-width: 60rem;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 2rem;
        animation: enter-login 1s;
        @media screen and (max-width: 815px){
            height: 100%;
            flex-direction: column;
            width: 100%;
            border-radius: 0;
            align-items: center;
            justify-content: center;
            .image{
                img{
                    width: 20rem;
                }
            }
        }
    }
    
}